@import
url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');

body {
   margin: 0;
   text-align: center;
   font-family: Raleway, Helvetica, sans-serif;
}

img {
    max-width: 100%;
    height: auto ;
}
/*   header   */
header {
    position:absolute 
    background-color: #fff;
    margin-top: 16px;
}

.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.nav__list {
    display: flex;
    margin: 0 20px;
}

.nav__item {
    padding: 20px;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
}

.btn {
    display: inline-block;
    padding: 20px;
    border-width: 2px;
    border-style: ;
    color: #fff;
    margin: 5px;
    font-size: 40px;
    color: #14cfae;
   }

   .logo {
    width: 150px;
    height: 150px;
    align-items: left;
    position: relative;
}

.toggle {
    margin: 10px;
    width: 15px; 
    height: 20px; 
    position: relative;
    align-items: right;
}

/* Style for subtitle intro*/
.subtitle__intro {
    background-color: #14CFAE;
    color: #303030;
    width: 150px;
    border-left: 150%;
    padding-left: 50px;
    border: 5px solid grey; 
}

/* Style for individual services */
.services {
    display: flex;
    justify-content: center;
    gap: 50px;
    border: 0;
    text-align: center;
    background-image:-o-linear-grad
}

.service {
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

/* Style for service headings */
.services {
    margin: 0;
    padding: 0;
    background-image: url(images/component\ 1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.service h3 {
    font-size: 30px;
    color: #303030;
}

/* Style for service paragraphs */
.service p {
    font-size: 20px;
    color: #666;
    padding: 0;
    margin: 0;
    display: inline-block;
    justify-content: center;
   }
   


/* Style for the "My Work" section */
.my.work {
    padding: 50px 0;
    background-color: #fff;
    text-align: center;
}

.section__title,
.section__subtitle {
    color: #303030;}

footer {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
    }
        

.social-list__item {
        margin-right: 50px;
        text-align: center;
    }


/*    MEDIA       */
@media screen and (max width: 623px) {
    .body {
        margin: 0;
    } 
    .nav__list {
        font-size: 10px;
    }
    img {
        width: 80px;
}

@media (min-width:579px) {
    body {
        margin: 14px;
    }
    .nav__list {
        font-size: 8px;
        display: inline-block;
    }
    img {
        width: 100px;
    }
}

@media (min-width:400px) {
    body {
        margin: 5px;
    }
    .nav__list {
        display: inline-block;
        font-size: 3px;
    }
    img {
        width: 100px;
    }
    .service {
        max-width: 300px;
        padding: 20px;
    }
}