body {
   margin: 0;
   padding: 0;
   text-align: center;
}

header {
    background-color: #fff;
    padding: 20px;
}

.logo img {
    width: 150px;
    height: 150px;
    align-items: left;
    position: relative;
}

.toggle {
    margin: 10px;
    width: 15px; 
    height: 20px; 

    background-color: #fff;
    color: #070707;
}

.subtitle__intro {
    background-color: #14CFAE;
    color: #303030;
    width: 150px;
    border-left: 150%;
    padding-left: 50px;
}